<button id="do-xhr-request">Trigger XHR request</button>
<button id="do-fetch-request">Trigger fetch request</button>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script type="module">
document.getElementById("do-xhr-request").onclick = () => {
  $.ajax({
    url: "/?set_the_flash=1"
  }).done(() => {
    location.reload(true)
  })
}
document.getElementById("do-fetch-request").onclick = () => {
  fetch("/?set_the_flash=1").then(() => {
    location.reload(true)
  })
}
</script>

<h2>Flash contents:</h2>
<p><%= flash[:message_via_cookie] %></p>

<h2>Current cookies as JSON from document.cookie</h2>
<pre
  id="client-cookies-json"
  style="max-width: 100vw; width: 500px; white-space: pre-wrap; word-break: break-all"
></pre>
<script type="module">
const parsedCookies = document.cookie.split(';').map(singleCookie => {
  const [key, value] = singleCookie.split('=');
  return [key, decodeURIComponent(value)];
});

document.getElementById("client-cookies-json").innerText =
  JSON.stringify(parsedCookies, null, 2)
</script>

<h2>Current cookies as JSON from document.cookie with a small timeout</h2>
<pre
  id="client-cookies-json-timeout"
  style="max-width: 100vw; width: 500px; white-space: pre-wrap; word-break: break-all"
></pre>
<script type="module">
setTimeout(() => {
  const parsedCookies = document.cookie.split(';').map(singleCookie => {
    const [key, value] = singleCookie.split('=');
    return [key, decodeURIComponent(value)];
  });

  document.getElementById("client-cookies-json-timeout").innerText =
    JSON.stringify(parsedCookies, null, 2)
}, 500);
</script>

<h2>Cookies set in last request (server side)</h2>
<pre
  id="server-cookies-json"
  style="max-width: 100vw; width: 500px; white-space: pre-wrap; word-break: break-all"
><%= JSON.pretty_generate(cookies.as_json) %></pre>
